<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NServiceBus.RabbitMQ.ConnectionString" connectionString="host=localhost;VirtualHost=pglab;username=guest;password=guest;"/>
    <add name="PostgreSql.Connection" connectionString="host=localhost;database=nsb.persistence;username=postgres;password=admin;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>